<div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-between py-0">
  <div class="py-0">
      <img class="d-block d-md-inline mx-auto mx-md-0" src="assets/img/assalam-logo.png" alt="Assalaam Hypermarket Logo" height="48px">
      <!-- <h5 class="d-inline m-0 text-primary font-weight-bold">ASSALAAM HYPERMARKET</h5> -->
  </div>

  <div class="input-group w-auto ml-auto mx-auto mx-md-0 my-md-auto mt-3 mt-md-0 mb-0 py-0">
    <label for="prodBarcode" class="text-white sr-only">Barcode:</label>
    <input appAutofocus autocomplete="off" type="text" name="prodBarcode" id="prodBarcode" class="form-control form-control-lg rounded-0"
      placeholder="Place barcode here..." (keydown)="searchInputCode($event)">

    <div *ngIf="mobile" class="input-group-append">
      <button class="btn btn-outline-primary px-3 rounded-0">
        <i class="icon ion-md-qr-scanner"></i>
        &nbsp; Scan Barcode
      </button>
    </div>
      
  </div>

  
</div>

<hr />