<section class="container-fluid h-100">
    <div class="row h-100">
      <div *ngIf="mobile" class="px-3 mt-3 w-100">
        <app-nav></app-nav>
      </div>

      <aside class="col-12 col-md-4 px-0 px-md-2 py-3 bg-primary text-white">
        <!-- Site Brand -->
        <!-- <div class="container-fluid">
          <div class="row">
            <div class="col-2">
              <img src="assets/img/assalam-logo.png" alt="Assalaam Hypermarket Logo" width="64px" height="64px">
            </div>
    
            <div class="col ml-2 mt-2">
              <h5 class="d-inline m-0 font-weight-bold">ASSALAAM HYPERMARKET</h5>
              <p class="tagline">UNTUK ANDA, KAMI ADA...</p>
            </div>
          </div>
        </div> -->
  
        <!-- Member Photo -->
        <img class="mx-auto d-block mt-4 mb-3 img-thumbnail rounded-circle" src="assets/img/members/{{ member.card_no }}.png"
        onError="this.src='assets/img/members/default.png';"  alt="Member Image" width="50%" />
        
        <h3 class="text-center text-uppercase m-0 font-weight-bold">{{ member.name }}</h3>
        <small class="d-block text-center mb-2">Nama</small>

        <h5 class="d-block text-center mb-0">{{ member.card_no }}</h5>
        <small class="d-block text-center mb-2">Nomor Kartu</small>

        <!-- Member Info -->
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-12">
              <p class="mb-0">Nomor Identitas</p>
              <h4>{{ member.identity_no }}</h4>
              <h4 *ngIf="!member.identity_no">N/A</h4>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12">
              <p class="mb-0">Jenis Anggota</p>
              <h4>{{ member.member_type }}</h4>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12">
              <p class="mb-0">Telepon</p>
              <h4>{{ member.phone }}</h4>
              <h4 *ngIf="!member.phone">N/A</h4>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12">
              <p class="mb-0">Alamat</p>
              <h4>{{ member.address }}</h4>
              <h4 *ngIf="!member.address">N/A</h4>
            </div>
          </div>
        </div>
      </aside>
  
      <div class="col py-3">
        <!-- Header -->
        <app-nav *ngIf="!mobile"></app-nav>

        <!-- Member Points -->
        <div class="py-4">
          <h1 class="display-1 text-center text-primary mb-0">{{ member.point }} POINTS</h1>
          <p class="lead text-center text-primary mt-0">EXP: {{ member.point_valid_until | date:'MMMM dd, yyyy' }}</p>
        </div>

        <hr />

        <!-- Member Points -->
        <div class="py-4">
          <h1 class="display-1 text-center text-primary mb-0">{{ member.coupon }} COUPONS</h1>
        </div>

        <div *ngIf="!mobile" id="snackbar" class="show">
          <h4 class="m-0"><countdown [config]="{leftTime: 10}">Informasi ini akan Hilang dalam: <span class="text-danger">$!s!</span> detik...</countdown></h4>
        </div>
      </div>
    </div>
  </section>
