<div class="container-fluid">
  
  
  <div class="row">
    
    <div class="col-12 col-md-4">

      <img class="img-thumbnail" src="assets/img/products/145814.jpg" alt="Futami Green Tea" with="100%">

    </div>
    <div class="col-12 col-md-8">

      <div class="container-fluid">

        <div class="row">
          <div class="col-5"><h5 class="font-weight-bold">Product Barcode:</h5></div>
          <div class="col-7">{{ productBarcode }}</div>
        </div>

        <div class="row">
          <div class="col-5"><h5 class="font-weight-bold">Product Name:</h5></div>
          <div class="col-7">{{ productName }}</div>
        </div>        

        <div class="row mb-3">
          <div class="col-5"><h5 class="font-weight-bold">Unit of Measurement:</h5></div>
          <div class="col-7">{{ unitOfMeasurement }}</div>
        </div>

        <div class="row">
          <div class="col-3"><h1 class="font-weight-bold">Price:</h1></div>
          <div class="col-9"><h1 class="font-weight-bold">Rp {{ priceInRupiah }}</h1></div>
        </div>

        <div class="row">
          <table class="table table-sm small">
            <thead>
              <tr>
                <th>UOM</th>
                <th># of Piece</th>
                <th>Price</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>CARTON</td>
                <td>24</td>
                <td>Rp 229, 775.462</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  
  </div>

  <div class="row"></div>
</div>