@import "./assets/css/bootstrap-4.2.0/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$ionicons-font-path: "~ionicons/dist/fonts";
@import "~ionicons/dist/scss/ionicons.scss";


html, body {
  height: 100vh !important;
  margin: 0 auto;
}

body {
  font-family: 'Nunito';
}

// section {
//   width: 80%;
//   margin: 0 auto;
//   padding: 1.5em;
// }

// .container {
//   width: 80%;
//   margin: 0 auto;
//   padding: 1.3em;
//   display: grid;
//   grid-template-columns: 30% auto;

//   a {
//     color: #fff;
//   }
// }

.thead-green {
  background: #44bd32;
  color: #fff;
}

h-lead, h2.h-lead {
  font-weight: 300!important;
}

.tagline {
  font-size: 1.10rem;
  font-weight: 300;
  font-style: italic;
  letter-spacing: .10rem;
  word-spacing: .20rem
}

canvas.drawingBuffer {
  position: absolute;
  left: 0;
  top: 0;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  /* position: fixed; Sit on top of the screen */
  right: 16px;
  bottom: 30px; /* 30px from the bottom */
  width: 60%;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

html {
  font-size: 0.6rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.9rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1rem;
  }
}