<div class="container-fluid">

  <div class="row">

    <div class="col"></div>

    <div class="col-md-8 col-sm col-12">

      <img class="d-block mx-auto mb-4" src="/assets/img/sample-logo.png" alt="Assalaam Logo" width="372px" height="372px">

      <!-- <div class="form-group">
        <label for="prodBarcode" class="sr-only">Place barcode here</label>
        <input type="text" name="prodBarcode" id="prodBarcode" class="form-control form-control-lg"
          placeholder="Place barcode here..." (keydown)="searchInputCode($event)">
      </div> -->

    </div>

    <div class="col"></div>

  </div>

</div>